---
layout: layouts/default
class: home
tags: ["noTopic"]
pagefind:
  type: Page
---

<section class="home-banner">
  <div class="l-wrapper">
    <h1>{{ home.bannerHeader }}</h1>
    <p>{{ home.bannerSubheader }}
  </div>
  <img src="/images/banners/baby.png" alt="A young African-American child hugging her father. Her eyes are closed with a content expression." />
</section>


<section class="l-section">
  <div class="l-wrapper">
    <header class="home-header">
      <div>
        <h2>{{ home.topicHeader }}</h2>
        <p>{{ home.topicSubheader }}</p>
      </div>
      <button class="button" data-type="secondary">More topics</button>
    </header>
    <div class="l-grid">
      {% for topic in collections.topics %}
        {% if topic.data.featured %}
          {% capture topicUrl %}/topics/{{ topic.data.id }}{% endcapture %}
{% include "components/topic-card.liquid",
  type: "topic",
  icon: topic.data.icon,
  title: topic.data.title,
  summary: topic.content,
  url: topicUrl
%}
{% endif %}
{% endfor %}
</div>
</div>
</section>

<section class="l-section">
  <div class="l-wrapper">
    <header class="home-header">
      <div>
        <h2>{{ home.storyHeader }}</h2>
        <p> {{ home.storySubheader }}</p>
      </div>
    </header>

    {%- for story in collections.stories -%}
      {%- if story.data.featured -%}
        {%- include "components/story-card.liquid",
          image: story.data.image,
          type: story.data.type,
          title: story.data.title,
          description: story.data.description,
          author: story.data.author,
          date: story.date,
          featured: story.data.featured
        -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>

<section class="l-section">
  <div class="l-wrapper">
    <h2>{{ home.aboutHeader }}</h2>
    {{ home.aboutContent }}
  </div>
</section>

<section class="home-submit">
  <img src="images/heros/mission-fam-bg.png" alt="" />
  <div class="l-wrapper">
    <div class="home-submit-inner">
      <h2>Submit ideas</h2>
      <p class="t-large">You can contribute to the Child Welfare Playbook by submitting an idea for a play, resource, or story.</p>
      <p class="t-large">Email your idea to <a href="mailto:updates@childwelfareplaybook.com">updates@childwelfareplaybook.com</a>.</p>
    </div>
  </div>
</section>