---
layout: layouts/default
title: Child welfare playbook
class: home
tags: ["noTopic"]
image: /images/banners/home.jpg
pagefind:
  type: Page
---

<div class="page-banner">
  <div class="l-wrapper">
    <h2 class="h1">{{ home.bannerHeader }}</h2>
    <p>{{ home.bannerSubheader }}</p>
  </div>
  <div class="page-banner-img" style="--background: url('{{ image }}')"></div>
</div>

<section class="l-section">
  <div class="l-wrapper">
    <header class="home-header">
      <div>
        <h2>{{ home.topicHeader }}</h2>
        <p>{{ home.topicSubheader }}</p>
      </div>
    </header>
    <div class="l-grid">
      <div class="l-grid topic-grid">
        {%- for topic in collections.topics -%}
          {% unless topic.url == false %}
            {%- include "components/topic-card.liquid",
              url: topic.url,
              id: topic.data.id,
              icon: topic.data.icon,
              title: topic.data.title,
              summary: topic.data.summary
            -%}
          {% endunless %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<div class="l-wrapper">
  <hr />
</div>

<section class="l-section">
  <div class="l-wrapper">
    <header class="home-header">
      <div>
        <h2>{{ home.storyHeader }}</h2>
        <p> {{ home.storySubheader }}</p>
      </div>
    </header>

    {%- for story in collections.stories -%}
      {%- if story.data.featured -%}
        {%- include "components/story-card.liquid",
          image: story.data.image,
          type: story.data.type,
          title: story.data.title,
          description: story.data.description,
          author: story.data.author,
          date: story.date,
          featured: story.data.featured
        -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>

<section class="home-submit">
  <img src="images/heros/mission-fam-bg.png" alt="" />
  <div class="l-wrapper">
    <div class="home-submit-inner">
      <h2>Submit ideas</h2>
      <p class="t-large">You can contribute to the Child Welfare Playbook by submitting an idea for a play, resource, or story.</p>
      <p class="t-large">Email your idea to <a href="mailto:updates@childwelfareplaybook.com">updates@childwelfareplaybook.com</a>.</p>
    </div>
  </div>
</section>