<div class="story-card" {% if featured %}data-featured{% endif %}>
  <img src="{{ image }}" alt="" />

  <div class="story-card-content l-stack-basic">
  <div class="nametag">
    <span class="nametag-badge subhead">{{ type }}</span>
    <div class="nametag-text">
      <h3><a href="{{ story.url }}">{{ title }}</a></h3>
    </div>
  </div>

  <p>{{ description }}</p>
  <div class="story-card-meta">
    <span>Written by {{ author }} on {{ date | humanDate }}</span>
  </div>
  </div>
</div>